<h1>Dashboard</h1>

<p>At some point there'll be cool stuff here I guess.</p>

<ul>
  <li>Order Status Counts - New, Needs Packing, Awaiting Shipping, Back Ordered</li>
  <li>New Orders Graph - Default to last 24 hours, allow date changes</li>
  <li>Top Products Table - Most sold in XXX days/hours</li>
  <li>Needs Packing Table - SKU, Name, Number of backordered orders/packets</li>
</ul>


{{category-table categories=model}}


{{outlet}}
