<h1>Dashboard</h1>

<p>At some point there'll be cool stuff here I guess:</p>

<ul>
  <li>Order Status Counts - New, Needs Packing, Awaiting Shipping, Back Ordered</li>
  <li>New Orders Graph - Default to last 24 hours, allow date changes</li>
  <li>Top Products Table - Most sold in XXX days/hours</li>
  <li>Needs Packing Table - SKU, Name, Number of backordered orders/packets</li>
</ul>

<br />
<br />

<p>Right now you're backend needs to implement:</p>

<ul>
  <li>Categories - add, list, details, update, delete</li>
  <li>Products - list, details</li>
  <li>ProductVariants - list</li>
</ul>

<br />

<dl>
  <dt>add</dt><dd>create new instance</dd>
  <dt>list</dt><dd>list all instances</dd>
  <dt>details</dt><dd>list attributes of single instance</dd>
  <dt>update</dt><dd>update attributes of single instance</dd>
  <dt>delete</dt><dd>delete a single instance</dd>
</dl>

{{outlet}}
