<tr class='variant-header'>
  <th>SKU</th>
  <th>Weight</th>
  <th>Price</th>
</tr>
{{#each variants as |variant|}}
  <tr class='variant-row'>
    <td>{{variant.sku}}</td>
    <td>{{variant.weight}}</td>
    <td>{{variant.price}}</td>
  </tr>
{{/each}}
