{{outlet}}

<p>{{#link-to 'products.new' class='btn-sm'}}Add New Product{{/link-to}}</p>

{{toggle-button css='btn-sm' value=expandVariants
  offIcon='arrows-alt' offText='Show SKUs' onIcon='compress' onText='Hide SKUs'}}

{{products/product-table products=createdProducts globalToggle=expandVariants}}
